streamlit
pandas
requests
plotly
yfinance
streamlit-echarts
openai
langchain
langchain-openai
langgraph
tabulate
ta-lib
mplfinance
vaderSentiment>=3.3.2
selenium
webdriver-manager
twikit
transformers
torch
python-dotenv
termcolor
lxml
emoji==0.6.0
feedparser
ccxt
websockets